.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
}

.dark-mode .text-muted {
  color: #bbb !important;
}

.dark-mode .card-body {
  background-color: #1c1c1c;
  border-radius: 10px;
}

.dark-mode .btn-primary {
  background-color: #ff5722;
  border-color: #ff5722;
}

.dark-mode .btn-primary:hover {
  background-color: #e64a19;
  border-color: #e64a19;
}

.dark-mode input {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
}

.dark-mode input::placeholder {
  color: #bbb;
}

.dark-mode .input-group {
  background-color: #1e1e1e;
}
